.TrendingMovies{
    margin-bottom: 50px;
    
    h1{
        font-size: 20px;
        text-transform: uppercase;
        color: white;
        font-weight: 200;
        color: #F39C12;
        padding: 0;
        margin: 20px 0px;
    }
    .listContainer{
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
    }
}

// mobile view
@media (max-width: 768px) {
    .TrendingMovies{
        margin-bottom: 20px;
        h1{
            font-size: 25px;
            margin: 10px 0px;
        }
        .listContainer{
            flex-direction: column;
            gap: 5px;
        }
    }
}

// tablet view
