.TrendingMovies{
    margin-bottom: 50px;
    
    h1{
        font-size: 20px;
        text-transform: uppercase;
        color: white;
        font-weight: 200;
        color: #F39C12;
        padding: 0;
        margin: 20px 0px;
    }
    .listContainer{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
}