.movieCard{
    height: 50vh;
    width: calc(25% - 20px);
    background-color: yellow;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    .viewDetails{
        margin: auto;
        background-color: rgba(14, 21, 31, 0.5);
        padding: 10px 20px;
        border-radius: 30px;
    }
    .movieCardDescription{
        display: flex;
        justify-content: space-between;
        align-items: top;
        padding: 20px 20px;
        .movieCardDescriptionText{
            h3{
                font-size: 20px;
                line-height: 100%;
                padding: 0;
                margin: 0;
                font-style: italic;
                margin-bottom: 5px;
                text-transform: uppercase;
            }
            p{
                line-height: 100%;
                padding: 0;
                margin: 0;
                font-style: italic;
            }
        }
        .movieCardDescriptionRating{
            display: flex;
            gap: 3px;
            align-items: center;
            margin-right: 10px;
            .star{
                color: #F39C12;
                font-size: 25px;
            }
            .score{
                font-style: italic;
            }
        }
        
    }
}

// mobile view
@media (max-width: 768px) {
    .movieCard{
        height: 40vh;
        width: calc(100% );
        margin: 20px 0px;
        .movieCardDescription{
            padding: 10px 10px;
            .movieCardDescriptionText{
                h3{
                    font-size: 15px;
                }
                p{
                    font-size: 12px;
                }
            }
            .movieCardDescriptionRating{
                .star{
                    font-size: 20px;
                }
                .score{
                    font-size: 12px;
                }
            }
        }
    }
}

// tablet view
@media (max-width: 1023px) and (min-width: 769px) {
    .movieCard{
        height: 30vh;
        width: calc(50% - 20px);
        margin: 20px 0px;
       
    }
}

// tablet view
@media (max-width: 1280px) and (min-width: 1024px) {
    .movieCard{
        height: 30vh;
        width: calc(33.3% - 20px);
        margin: 20px 0px;
    }
}

// desktop view
