.categoriesCard{
    background: linear-gradient(180deg, #FFB200 0%, #996B00 100%);
    width: 240px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    p{
        color: white;
        font-size: 24px;
        font-weight: 700;
    }
}

// mobile view 
@media (max-width: 768px) {
    .categoriesCard{
        width: 150px;
        height: 100px;
        margin: 10px 0px;
        p{
            font-size: 18px;
        }
    }
}
