.home {
    padding: 0;
    
  .homeContainer {
    padding: 0px 100px;
    font-family: inter;
    .HeroDetail {
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: end;
      .HeroMovieTitle {
        color: white;
        font-size: 50px;
        line-height: 100%;
        padding: 0;
        margin: 0;
        font-weight: 700;
      }
      p {
        color: white;
        font-size: 15px;
        line-height: 100%;
        padding: 0;
        margin: 10px 0px;
      }

      .genre {
        color: white;
        width: max-content;
        min-width: 60px;
        padding: 10px 20px;
        margin-top: 10px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 30px;
      }
    }
  }
}
