.CastCarousel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .arrowContainer {
      width: 30px;
      height: 30px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background: rgba(255, 255, 255, 0.4);
      }
    }
    .CastMembers {
      display: flex;
      width: 80%;
      justify-content: space-between;
      height: 150px;
      .CastMember {
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        width: 100%;
        p{
            width: 100%;
            text-align: center;
        }
        .castMemberImg {
          width: 80px;
          height: 80px;
          background-color: white;
          border-radius: 50%;
          background-size: cover;
        }
      }
    }
  }