.layout {
  font-family: inter;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 30px 100px;
  gap: 30vw;
  color: white;
  text-transform: uppercase;
  h1 {
    font-size: 20px;
    
    line-height: 100%;
    padding: 0;
    margin: 0;
  }
  nav {
    display: flex;
    list-style-type: none;
    width: 100%;
    gap: 9vw;
    font-weight: 300;
    .signOutButton{
      background-color: #F39C12;
      padding: 10px 20px;
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: #F39C12;
        font-style: italic;
      }
    }
  }
}
